@font-face {
  font-family: "Spirax";
  src: url("/static/Spirax/Spirax-Regular.ttf");
}
@font-face {
  font-family: "PTSerif";
  src: url("/static/PT_Serif/PT_Serif-Web-Regular.ttf");
}

html, body {
  height: 100%;
}
html {
  background-image: url("/static/px1.jpg");
}
body {
  background-image: url("/static/bg1.png");
  background-position: center;
  background-repeat: no-repeat;
}

.quote {
  color: #f1c990;
  text-align: center;
}

.header {
  background-image: url("/static/top1.png");
  height: 64px;
  width: 100%;
  text-align: center;
  color: rgb(241, 201, 144);
  font-size: 16px;
  line-height: 58px;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.panel-head, .panel {
  background-color: #ecdac0;
  border-color: #a98551
}

.panel-head {
  border-radius: 5px;
  padding: 5px;
  border-top: 2px solid #a98551;
  /*border-left: 2px solid #a98551;*/
  /*border-right: 2px solid #a98551;*/
}

.panel {
  padding: 5px;
  color: #372a28;
  border-radius: 5px;
  border: 2px solid #a98551;
  box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.5);
}

h5 {
  font-family: "Spirax", cursive;
  color: #5d0000;
  text-align: center;
}

th, td {
  border: none;
  vertical-align: text-top;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.05);
}

details p{
  font-style: italic;
  font-weight: normal;
}

table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
  }
