@font-face {
  font-family: "Spirax";
  src: url("/static/Spirax/Spirax-Regular.ttf");
}
@font-face {
  font-family: "PTSerif";
  src: url("/static/PT_Serif/PT_Serif-Web-Regular.ttf");
}

html, body {
  height: 100%;
}
html {
  background-image: url("/static/px1.jpg");
}
body {
  background-image: url("/static/bg1.png");
  background-position: center;
  background-repeat: no-repeat;
}

.quote {
  color: #f1c990;
  text-align: center;
}

.header {
  background-image: url("/static/top1.png");
  height: 64px;
  width: 100%;
  text-align: center;
  color: rgb(241, 201, 144);
  font-size: 16px;
  line-height: 58px;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.body {

}




details p{
  font-style: italic;
  font-weight: normal;
}

td{
  vertical-align: text-top;
}

body, html {height:100%;}

table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
  }

  td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
  }

  tr:nth-child(even) {
      background-color: #dddddd;
  }
