<<<<<<< HEAD
body, html {height:100%;}
/*body {
  background-image: url("/static/bg1.png");
  background-size: cover;
  background-position: center;
}
html {
  background-image: url("/static/px1.jpg");
}
.thing {
  background: #ecdac0;
  border: 4px solid #a98551;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 80%;
  border-radius: 10px;
  padding: 10px;
}*/
=======
table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
  }

  td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
  }

  tr:nth-child(even) {
      background-color: #dddddd;
  }
>>>>>>> af7081821419d6a67082dc038743b3c315adcc4c
