{{ template "head.html" . }}
<div class="row">
  <div class="twelve columns body">
    <form id="form" class="form" action="/" method="post">
      <fieldset class="panel">
        <legend class="panel-head">Please pick your meal.</legend>

        <!-- Meals -->
        {{ range $group, $food := .menu.Mains }}
          <h5>{{ $food.Name }}</h5>
          <table>
            <thead>
              <tr>
                <th>Meal</th>
                <th>Details</th>
              </tr>
            </thead>
            <tbody>
              {{ range $meal := $food.Meals }}
                <tr>
                  <td width="5%"><input class="{{ $group }}" type="radio" name="{{ $group }}" value="{{ $meal.Name }}"></td>
                  <td width="95%"><b>
                    <details>
                      <summary>{{ $meal.Name }}</summary>
                      <p>{{ $meal.Desc }}</p></br>
                    </details><b/>
                  </td>
                </tr>
              {{ end }}
            </tbody>
          </table>
        {{ end }}

        <!-- Spice  -->
        <label for="select">Spice:</label>
        <select id="spice" class="select" name="spice">
          {{ range $spice := .menu.Spice }}
            <option value="{{ $spice }}">{{ $spice }}</option>
          {{ end }}
        </select>
        <label for="side">Side:</label>
        <select id="side" class="side" name="side">
          {{ range $side := .menu.Side }}
            <option value="{{ $side }}">{{ $side }}</option>
          {{ end }}
        </select>
      </fieldset>
      <fieldset class="panel">
        <legend class="panel-head">Please place your order.</legend>
        <label for="name">Name:</label>
        <input id="name" type="text" name="name" value="" onkeydown="if (event.keyCode == 13) return false;">
        <label for="notes">Final notes:</label>
        <input type="text" name="notes" value="" onkeydown="if (event.keyCode == 13) return false;">
        <button type="submit" name="button" class="button-primary">Place Order</button>
      </fieldset>
    </form>
  </div>
</div>
<script src="/static/favourites.js" charset="utf-8"></script>
{{ template "footer.html" . }}
