<!DOCTYPE html>
<html>
  {{ template "head.html" . }}
  <body>
    <div class="outer">
      <h1 class="thing">Hello there! FROM BALTI!</h1>      
    </div>

    <form class="form" action="/" method="post">
      <label for="name">Name:</label>
      <input type="text" name="name" value="">
      <fieldset>
        <legend>Please pick your meal.</legend>
        <input type="radio" name="meal" value="Milk" checked> Milk</br>
        <input type="radio" name="meal" value="Cheese"> Cheese</br>
        </br>
        <label for="select">Spice:</label>
        <select class="select" name="spice">
          <option value="On fire">On fire</option>
          <option value="Hot">Hot</option>
          <option value="Medium">Medium</option>
          <option value="Mild">Mild</option>
        </select>

        <label for="side">Side:</label>
        <select class="side" name="side">
          <option value="Plain Naan">Plain Naan</option>
          <option value="Roti">Roti</option>
          <option value="Mince Naan">Mince Naan</option>
          <option value="Peshwari Naan">Peshwari Naan</option>
          <option value="Chicken Naan">Chicken Naan</option>
          <option value="Onion Potato Naan">Onion Potato Naan</option>
          <option value="Garlic Naan">Garlic Naan</option>
          <option value="Garlic Cheese Naan">Garlic Cheese Naan</option>
          <option value="Cheese Naan">Cheese Naan</option>
          <option value="Butter Naan">Butter Naan</option>
          <option value="Parantha">Parantha</option>
          <option value="Pickle/Mango Chutney">Pickle/Mango Chutney</option>
          <option value="Poppadoms">Poppadoms</option>
          <option value="Raita">Raita</option>
          <option value="No naan">No naan</option>

        </select>
      </fieldset>
      <fieldset>
        <legend>Please place your order.</legend>
        <label for="notes">Final notes:</label>
        <input type="text" name="notes" value="">
        <button type="submit" name="button">Place Order</button>
      </fieldset>
    </form>
  </body>
  {{ template "footer.html" . }}
</html>
