{{ template "head.html" . }}
<div class="row">
  <div class="twelve columns">
    <fieldset class="panel">
      <legend class="panel-head">Your Order</legend>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th colspan="2">Meal</th>
          <th>Side</th>
          <th>Note</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="color:DodgerBlue"><b>{{.order.Name}}</b></td>
          <td><b>{{.order.Meal}}<b/></td>
            <td style="color:Tomato"><em><b>{{.order.Spice}}</b></em></td>
            <td><b>{{.order.Side}}</b></td>
            <td><b>{{.order.Note}}</b></td>
          </tr>
      </tbody>
    </table>
  </fieldset>
  </div>
</div>
{{ template "footer.html" . }}
