{{ template "head.html" . }}
<div class="row">
  <div class="twelve columns">
    <fieldset class="panel">
      <legend class="panel-head">Orders</legend>
      <table>
        <tr>
        <th>Name</th>
        <th colspan="2">Meal</th>
        <th>Side</th>
        </tr>
        {{ range $key, $value := .orders }}
        <tr>
        <td style="color:DodgerBlue"><b>{{$value.Name}}</b></td>
        <td><b>{{$value.Meal}}<b/></td>
        <td style="color:Tomato"><em><b>{{$value.Spice}}</b></em></td>
        <td><b>{{$value.Side}}</b></td>
        </tr>
        {{ end }}
      </table>
  </fieldset>
  </div>
</div>
{{ template "footer.html" . }}
