{{ template "head.html" . }}
<div class="row">
  <div class="twelve columns">
    <fieldset class="panel">
      <legend class="panel-head">Orders</legend>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th colspan="2">Meal</th>
            <th>Side</th>
            <th>Notes</th>
          </tr>
        </thead>
        <tbody>
          {{ range $key, $value := .orders }}
          <tr>
            <td style="color:DodgerBlue"><b>{{$value.Name}}</b></td>
            <td>
              <ul>
                {{ range $meal := $value.Meal }}
                <li>{{ $meal }}</li>
                {{ end }}
              </ul>
            </td>
            <td style="color:Tomato"><em><b>{{$value.Spice}}</b></em></td>
            <td><b>{{$value.Side}}</b></td>
            <td><em>{{$value.Notes}}</em></td>
          </tr>
          {{ end }}
        </tbody>
      </table>
  </fieldset>
  </div>
</div>
{{ template "footer.html" . }}
